### WordPress ###
# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
src/wp-admin
src/wp-content/index.php
src/wp-content/languages
src/wp-content/plugins/index.php
src/wp-content/themes/index.php
src/wp-includes/
src/index.php
src/license.txt
src/readme.html
src/wp-*.php
src/xmlrpc.php

# Configuration
src/wp-config.php

# Example plugin
src/wp-content/plugins/hello.php

# Uploads
src/wp-content/uploads/

# Log files
*.log

# htaccess
src/.htaccess

*/.DS_Store
*/.idea